@import "tailwindcss";

:root {
  --background-color: #000;
  --background: #fff;
  --light-background: #000;
  --red-background: #fff;
  --text-color: #fff;
  --foreground: #ffffff;
  --accent-blue: #FD8A6B;
}

@theme inline {
  --color-background: var(--background-color);
  --color-foreground: var(--text-color);
  --color-primary: var(--accent-blue);
  --color-light-bg: var(--light-background);
  --color-card-bg: var(--red-background);
  --color-text-main: var(--text-color);
  --font-funnelsans: var(--font-funnel-sans);
  --font-bubblegum: var(--font-bubblegum-sans);
}


/* Default Theme (Rose) */
[data-theme='rose'] {
  --nav-background-color: #FA5C5C;
  --background-color: #FA5C5C;
  --background: #FA5C5C;
  --light-background: #FBEF76;
  --red-background: #FD8A6B;
  --text-color: #000;
}

[data-theme='yellow'] {
  --nav-background-color: #FBEF76;
  --background-color: #FBEF76;
  --background: #FBEF76;
  --light-background: #FA5C5C;
  --red-background: #FD8A6B;
  --text-color: #000;
}

[data-theme='black'] {
  --nav-background-color: #0e0e0e;
  --background-color: #000;
  --background: #000;
  --light-background: #fff;
  --red-background: #fff;
  --text-color: #fff;
}

/* Violet Theme */
[data-theme='violet'] {
  --nav-background-color: #8B5CF6;
  --background-color: #8B5CF6;
  --background: #8B5CF6;
  --light-background: #EDE9FE;
  --red-background: #A78BFA;
  --text-color: #000;
}


/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* universal styles_________________________________ */

/* * {
    line-height: 180%;
} */

/* font families_____________________________________ */
/* @font-face {
  font-family: 'funnel-sans';
  src: url('./assets/fonts/Funnel_Sans/FunnelSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alumni-sans';
  src: url('./assets/fonts/Alumni_Sans_Pinstripe/AlumniSansPinstripe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Alumni-sans {
  font-family: 'Alumni-sans';
}

.funnel-sans {
  font-family: 'funnel-sans';
} */

/* editor content styling______________________________ */
.editorContent * {
  outline: none;
}

.editorContent img {
  border-radius: 12px;
  margin: 0px 3px;
  border: 2px solid #ffffff27;
}

/* styling to fix bugs in hightights __________________ */
.ProseMirror mark,
.ProseMirror span[style*="background-color"] {
  line-height: 1.4;
  padding: 0.1em 0.2em;
  display: inline-block;
  vertical-align: middle;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}