@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--accent-blue);
  --font-funnelsans: var(--font-bubblegum-sans) ;
  --font-bubblegum: var(--font-bubblegum-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FBEF76;
    --foreground: #171717;
    /* --background-color: #FA5C5C; */
    --background-color: #FBEF76;
    --light-background: #FBEF76;
    --red-background: #FD8A6B;
    --accent-blue: #FD8A6B;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-blue: #FD8A6B;
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* universal styles_________________________________ */

/* * {
    line-height: 180%;
} */

/* font families_____________________________________ */
/* @font-face {
  font-family: 'funnel-sans';
  src: url('./assets/fonts/Funnel_Sans/FunnelSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alumni-sans';
  src: url('./assets/fonts/Alumni_Sans_Pinstripe/AlumniSansPinstripe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Alumni-sans {
  font-family: 'Alumni-sans';
}

.funnel-sans {
  font-family: 'funnel-sans';
} */

/* editor content styling______________________________ */
.editorContent * {
  outline: none;
}

.editorContent img {
  border-radius: 12px;
  margin: 0px 3px;
  border: 2px solid #ffffff27;
}

/* styling to fix bugs in hightights __________________ */
.ProseMirror mark,
.ProseMirror span[style*="background-color"] {
  line-height: 1.4;
  padding: 0.1em 0.2em;
  display: inline-block;
  vertical-align: middle;
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}