@import "tailwindcss";

* {
    box-sizing: border-box;
}

:root {
    --White: #FCFCFC;
    --Yellow: #F5FF8C;
    --Dark: #1A2027;
    --Purple: #AF9FFF;
    --Gray: #C8CDD5;
    --Green: #1F9270;
}

body::-webkit-scrollbar, .no-scroll::-webkit-scrollbar  {
    display: none;
}

@theme {
    --color-White: #FCFCFC;
    --color-Yellow: #F5FF8C;
    --color-Dark: #1A2027;
    --color-Purple: #AF9FFF;
    --color-Gray: #C8CDD5;
    --color-Green: #1F9270;
    --font-khand: "Khand", monospace;
    --font-weight-heavy: 800;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: Khand;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

svg text {
    cursor: pointer;
    color: var(--Dark);
}

rect {
    fill: var(--Yellow);
    transition: fill 0.1s ease-out;
}

polygon {
    fill: var(--Yellow);
}


rect.bass-hit {
    fill: var(--Yellow);
}

.main-text {
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.main-text {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
    /* prevents text blocking hover */
}

.main-text.visible {
    opacity: 1;
}

.main-text {
    transition: opacity 0.4s ease;
    pointer-events: none;
    opacity: 0;
    color: var(--Dark);
    font-weight: bold;
    font-family: Khand;
}

